@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-media --sm-viewport (min-width: 576px);
@custom-media --md-viewport (min-width: 768px);
@custom-media --lg-viewport (min-width: 992px);

:root {
  --bg-color: #222222;
  --black: #111;
  --white: #fefefb;
  --purple: #380B2D;
  --light-purple: #C7B8C5;
  --heading-font-color: var(--light-purple);

  --purple-pink-gradient: linear-gradient(90deg, rgba(109,88,198,1) 0%, rgba(249,119,161,1) 100%);

  --purple-gradient: linear-gradient(137.08deg, #230A11 -1.96%, #5D0D5F 97.8%);

  --heading-font: 'Poppins', sans-serif;

  --header-height: 4rem;
	
	--spacing-sm: 0.25rem;
  --spacing-md: 0.5rem;
	--spacing-lg: 1rem;
	
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
}

html {
	font-size: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  min-height: 0;
  min-width: 0;
}

body {
	font-size: 1rem;
	line-height: 1.6;
	color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  margin: 0;
  padding: 0;
}

:--heading {
  color: var(--heading-font-color);
  font-family: var(--heading-font);
  font-weight: bold;
  letter-spacing: 0.01em;
  margin-block: 0;
}

h1 {
  font-size: rem(64px);
}

h2 {
  font-size: rem(36px)
}

p {
  margin-block: 0;
}

a {
	color: inherit;
}

img {
  max-width: 100%;
  height: 100%;
}

ul, li {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  &:hover {
    cursor: pointer;
  }
}

#app {
  height: 100%;

	@media (--md-viewport) {
		height: 100vh;
	}
}

.show-auth-enter {
  opacity: 0;
  transform: translateX(100%);
}
.show-auth-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 450ms, transform 300ms;
}
.show-auth-exit {
  opacity: 0;
  transform: translateX(100%);
}
.show-auth-exit-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 450ms, transform 300ms;
}